.AddClueOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.AddClueOuter form {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  align-items: center;
}

.ClueContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}


.ClueFormInputTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.ClueWriteContainer input[type='text'],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

.ClueWriteContainer textarea {
  resize: none;
  height: 100px;
}

#ClueUploadContainer{
 margin-bottom: 20px;
}

#ClueDropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#ClueDropzone p {
  margin: 0;
}

#ClueImgPreview {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  margin-top: 10px;
}

.AddClueForm button[type='submit'] {
  background-color: #4caf50;
  width: 93%;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.AddClueForm button[type='submit']:hover {
  background-color: #45a049;
}

.ClueWriteContainer  input[type=text] {
  border: 1px solid black;
  border-radius: 4px;
  width: 90%;
}