* {
  scroll-behavior: smooth;
}

.ClueDisplay {
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    justify-content: space-evenly;
}
.ClueCardContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    cursor: pointer;
    /* backdrop-filter: blur(12px); */
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Media query for desktop screens */
  @media (min-width: 768px) {
    .ClueCardContainer {
      width: calc(33.33% - 32px); /* Adjust the width for 3 cards in a row with some margin */
      max-width: 300px; /* Set a maximum width for each card */
    }
  }
  
  .ClueCardContainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ClueCardHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ClueCardTitle {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card-date {
    margin: 0;
  }
  
  .ClueImage {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .ClueDescription {
    font-size: 1rem;
    max-height: 20vh;
    /* display: flex; */
    overflow: scroll;
    scrollbar-width: none;
  }
  