*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.ClueCardDiv {
	background-color: rgba(255, 255, 255, 0.5);
	width: calc(100% - calc(4.8rem * 2));
	max-width: 480px;
	padding: 2.8rem;
	margin: 2.2rem;
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	border-radius: 1.7rem;
	box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
	transform: translateY(-1rem);
	backdrop-filter: blur(1.5rem);
}

.ClueTitle {
	font-size: 1.75rem;
	font-weight: bold;
	height: 2.8rem;
	margin-bottom: 0.5rem;
}

.ClueImage {
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 1.5rem;
	height: 320px;
	object-fit: contain;
}

.ClueImage img {
	max-width: 300px;
}

.ClueDescription {
	color: rgba(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.5);
	width: calc(100% - calc(2.8rem * 2));
	height: 320px;
	line-height: 1.75rem;
	padding: 1.5rem;
	position: absolute;
	margin-top: 1.5rem;
	top: calc(2.8rem + 3.3rem);
	left: 2.8rem;
	overflow: auto;
	opacity: 0;
	border-radius: 1.5rem;
	transition: opacity 200ms ease-out;
  	scrollbar-width: none;
}

.ClueImage:hover + .ClueDescription,
.ClueDescription:hover {
	opacity: 1;
	backdrop-filter: blur(12px);
}

.ClueCategory {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.ClueDate {
	margin-bottom: 0.5rem;
}

.AddClue{
    position: fixed;
    bottom: 9vh;
    right: 5vw;
    z-index: 20;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 50px;
    min-width: 8rem;
    outline: 0;
    padding-top:12px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.AddClue:hover,
.AddClue:active {
  background-color: #f3231c;
}

