

.navbar {
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
    /* background-color: green; */
    display: flex;
    overflow: hidden;
    color: white;
    justify-content: space-between;
    form{
      margin-top: 10px;
      display: flex;
      background-color: #FFFFFF;
      height: 5.5vh;
      border-radius: 10px;
      outline: none;
  border: none;
    }
}
.srch{
  /* background-color: #FF4742; */
  padding-top: 5px;
  color: grey;
  outline: none;
  border: none;
}
.searchBar{
  
  margin-top: 1vh;
  border-radius: 10px;
  border: none;
  outline: none;
}
.navbar img {
  padding: 2vh;
height: 30px;
margin-left: 10px;
margin-top: 5px;
}

.navbar-right {
    /* float: right; */
    margin-right: 10px;
    line-height: 60px;
}

.Logout {
    display: inline-block;
    padding-left: 20px;
}
  
.Logout button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.Logout button:hover,
.Logout button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

Logout button:active {
  opacity: .5;
}